/* No CSS */
/* diagnostic styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: pink;
}

button {
  background-color: #F66049;
  
}

